<p-dataTable [value]="envs" selectionMode="single" [(selection)]="selectedEnv" (onRowSelect)="onRowSelectEnv($event)" [resizableColumns]="true" [responsive]="true">
  <p-header>
    Envs
    <div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAddEnv()" label="Add"></button></div>
  </p-header>
  <p-column field="name" header="NAME"></p-column>
  <p-column field="path" header="PATH"></p-column>
  <p-column field="template" header="TEMPLATE"></p-column>
</p-dataTable>
<p-dialog header="Env Details" [(visible)]="displayEnvDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="env">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="env-name">NAME</label></div>
      <div class="ui-grid-col-8"><input pInputText id="env-name" [(ngModel)]="env.name" [disabled]="!newEnv"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="env-path">PATH</label></div>
      <div class="ui-grid-col-8"><input pInputText id="env-path" [(ngModel)]="env.path" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="env-template">TEMPLATE</label></div>
      <div class="ui-grid-col-8"><textarea pInputTextarea id="env-template" [(ngModel)]="env.template"></textarea></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="deleteEnv()" label="Delete"></button>
      <button type="button" pButton icon="fa-check" (click)="saveEnv()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>

<hr />

<p-selectButton [options]="allEnv" [(ngModel)]="currentEnv" (onChange)="changeCurrentEnv()"></p-selectButton>

<hr />

<p-dataTable [value]="servers" selectionMode="single" [(selection)]="selectedServer" (onRowSelect)="onRowSelectServer($event)" [resizableColumns]="true" [responsive]="true">
  <p-header>
    Servers
    <div class="ui-helper-clearfix" style="width:100%">
      <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAddServer()" label="Add" [disabled]="!envs  || envs.length < 1"></button>
    </div>
  </p-header>
  <p-column field="id" header="ID"></p-column>
  <p-column field="host" header="HOST"></p-column>
  <p-column field="port" header="PORT"></p-column>
  <p-column field="shome" header="SHOME"></p-column>
  <p-column field="username" header="USERNAME"></p-column>
  <p-column field="password" header="PASSWORD"></p-column>
  <!--<p-column field="configuration" header="CONFIGURATION"></p-column>-->
</p-dataTable>
<p-dialog header="Server Details" [(visible)]="displayServerDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="server">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="server-id">ID</label></div>
      <div class="ui-grid-col-8"><input pInputText id="server-id" [(ngModel)]="server.id" [disabled]="!newServer"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="server-host">HOST</label></div>
      <div class="ui-grid-col-8"><input pInputText id="server-host" [(ngModel)]="server.host" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="server-port">PORT</label></div>
      <div class="ui-grid-col-8"><input pInputText id="server-port" [(ngModel)]="server.port" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="server-shome">SHOME</label></div>
      <div class="ui-grid-col-8"><input pInputText id="server-shome" [(ngModel)]="server.shome" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="server-username">USERNAME</label></div>
      <div class="ui-grid-col-8"><input pInputText id="server-username" [(ngModel)]="server.username" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="server-password">PASSWORD</label></div>
      <div class="ui-grid-col-8"><input pInputText id="server-password" [(ngModel)]="server.password" /></div>
    </div>
    <!--<div class="ui-grid-row">-->
      <!--<div class="ui-grid-col-4"><label for="server-configuration">CONFIGURATION</label></div>-->
      <!--<div class="ui-grid-col-8"><input pInputText id="server-configuration" [(ngModel)]="server.configuration" /></div>-->
    <!--</div>-->
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="deleteServer()" label="Delete"></button>
      <button type="button" pButton icon="fa-check" (click)="saveServer()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>

<hr />

<p-selectButton [options]="allServer" [(ngModel)]="currentServer" (onChange)="serverChange()" #psb></p-selectButton>

<hr />

<p-dataTable [value]="profiles" selectionMode="single" [(selection)]="selectedProfile" (onRowSelect)="onRowSelectProfile($event)" [sortMode]="multiple" [resizableColumns]="true" [paginator]="true" rows="15" [responsive]="true" [globalFilter]="gb" #pdt>
    <p-header>
      Profiles
      <div class="ui-helper-clearfix" style="width:100%">
        <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAddProfile()" label="Add" [disabled]="!servers  || servers.length < 1"></button>
      </div>
      <input #gb type="text" placeholder="Global search">
    </p-header>
    <p-column field="id" header="ID" sortable="true"></p-column>
    <p-column field="sid" header="SID" sortable="true"></p-column>
    <p-column field="dir" header="DIR" sortable="true"></p-column>
    <p-column field="port" header="PORT" sortable="true"></p-column>
    <p-column field="dPort" header="DPORT" sortable="true"></p-column>
    <p-column field="arg" header="ARG"></p-column>
</p-dataTable>
<p-dialog header="Profile Details" [(visible)]="displayProfileDialog" [responsive]="true" showEffect="fade" [modal]="true" width="350">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="profile">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="profile-id">ID</label></div>
            <div class="ui-grid-col-8"><input pInputText id="profile-id" [(ngModel)]="profile.id" [disabled]="!newProfile"/></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="profile-sid">SID</label></div>
            <!--<div class="ui-grid-col-8"><input pInputText id="profile-sid" [(ngModel)]="profile.sid" /></div>-->
            <div class="ui-grid-col-8"><p-dropdown id="profile-sid" [options]="servers" [style]="{'width':'100%'}" optionLabel="id" [(ngModel)]="profile.sid"></p-dropdown></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="profile-dir">DIR</label></div>
            <div class="ui-grid-col-8"><input pInputText id="profile-dir" [(ngModel)]="profile.dir" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="profile-port">PORT</label></div>
            <div class="ui-grid-col-8"><input pInputText id="profile-port" [(ngModel)]="profile.port" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="profile-dport">DPORT</label></div>
            <div class="ui-grid-col-8"><input pInputText id="profile-dport" [(ngModel)]="profile.dPort" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="profile-arg">ARG</label></div>
            <div class="ui-grid-col-8"><input pInputText id="profile-arg" [(ngModel)]="profile.arg" /></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="deleteProfile()" label="Delete"></button>
            <button type="button" pButton icon="fa-check" (click)="saveProfile()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>
