<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="ArcUtil"
            id="com.ileler.arcutil.commands.category">
      </category>
      <command
            name="ArcUtil"
            categoryId="com.ileler.arcutil.commands.category"
            id="com.ileler.arcutil.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.ileler.arcutil.commands.sampleCommand"
            class="com.ileler.arcutil.handlers.ArcUtilHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.ileler.arcutil.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="F3"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension  
      point="org.eclipse.ui.menus">  
	   <menuContribution  
	         locationURI="popup:org.eclipse.ui.popup.any?after=additions">  
	      <separator  
	            name="com.ileler.arcutil.separator1">  
	      </separator>  
	      <command  
	            commandId="com.ileler.arcutil.commands.sampleCommand"  
	            icon="icons/sample.gif"  
	            id="com.ileler.arcutil.menus.sampleCommand"  
	            mnemonic="%command.mnemonic">  
	         <visibleWhen>  
	            <iterate  
	                  ifEmpty="false">
	               <or>
               		  <instanceof  
	                        value="org.eclipse.core.resources.IResource">  
	                  </instanceof>
	                  <instanceof  
	                        value="org.eclipse.core.resources.IFolder">  
	                  </instanceof>
	                  <instanceof  
	                        value="org.eclipse.jdt.core.IJavaElement">  
	                  </instanceof>
	                  <instanceof  
	                        value="org.eclipse.team.ui.synchronize.ISynchronizeModelElement">  
	                  </instanceof>
	                  <instanceof  
	                        value="org.eclipse.core.resources.IFile">  
	                  </instanceof>
	               </or>  
	            </iterate>  
	         </visibleWhen>  
	      </command>  
	   </menuContribution>  
	</extension>  

</plugin>
