server:
  port: 11999
spring:
  zipkin:
    base-url: http://localhost:10003
  sleuth:
    sampler:
      probability: 1.0
  cloud:
    gateway:
      routes:
      - id: google
        uri: ${google.url:http://localhost}
        predicates:
        - Path=/google/**
        filters:
        - StripPrefix=1
      - id: s1
        uri: lb://org.ileler.service1
        predicates:
        - Path=/s1/**
        filters:
        - StripPrefix=1
      - id: s2
        uri: lb://org.ileler.service2
        predicates:
        - Path=/s2/**
        filters:
        - StripPrefix=1
#      - id: index-html
#        predicates:
#        - Path=**/index.html
#        filters:
#        - AddResponseHeader=Cache-Control, no-store
#      - id: static-file
#        uri: file:///data/pub/
#        predicates:
#        - Path=/file/**
#        filters:
#        - StripPrefix=1

gateway:
  static-resource:
  - patterns: /file,/file/,/file/index.htm*
    locations: file:/data/pub/
    default-page: index.html
    cache-control: no-store
  - patterns: /file/**
    locations: file:/data/pub/