/*
 * Application or page specific style overrides.
 */

/**
 Close up the unordered lists in the table cells
 */
table tbody ul {
    padding-left: 1em;
}

table tbody li {
    padding: 0em;
}

div .toolbar {
    display: inline;
    float: left;
    margin-right: 20px;
}

div .console {
    white-space: pre-line;
}

div .oper span {
    cursor: pointer;
}
